@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 16 33 42;
  --primary: 43 212 188;
  --secondary: 14 39 51;
}

body {
  @apply bg-white font-sans text-brand-accent;
}
